# Entorno virtual
venv/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp
*.swp

# Configuración de entorno
.env
*.env

# Archivos de bases de datos locales (ej: SQLite)
*.db
*.sqlite3

# Configuración de IDEs (Visual Studio Code, PyCharm, etc.)
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
