<!DOCTYPE html>
<html>
<head>
    <title>Vacaciones SUPER 2025-2026</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Vacaciones SUPER 2025-2026</h1>
        <img src="{{ url_for('static', filename='img/logo_empresa.png') }}" alt="Logo de la empresa">
        
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
